<?xml version="1.0"?>
<config>
    <sections>
        <system>
            <groups>
                <rkt_sbcache translate="label">
                    <label>Static Block Cache Settings</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>800</sort_order>
                    <fields>
                        <enabled translate="label comment">
                            <label>Enable Static Block Cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <timeout translate="label">
                            <label>Cache Timeout in Seconds</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </timeout>
                    </fields>
                </rkt_sbcache>
            </groups>
        </system>
    </sections>
</config>
